<div class="row">
	<div class="columns large-6">
		<input id="input-key" type="text" name="key" placeholder="Link key">
	</div>
	<div class="columns large-6">
		 <a href="javascript:void(0)" id="anchor-remove">X</a>
	</div>
</div>
<div class="row">
	<div class="columns large-12">
		<input id="input-url" type="text" name="url" placeholder="URL">
	</div>
</div>
<div class="row">
	<div class="columns large-12">
		<input id="input-text-en" type="text" name="enText" placeholder="English text">
	</div>
</div>
<div class="row">
	<div class="columns large-12">
		<input id="input-text-de" type="text" name="deText" placeholder="German value">
	</div>
</div>