<div class="row">
	<div class="columns large-6">
		<input id="input-key" type="text" name="key" placeholder="key">
	</div>
	<div class="columns large-6">
		 <a href="javascript:void(0)" id="anchor-remove">X</a>
	</div>
</div>
<div class="row">
	<div class="columns large-12">
		<input id="input-value" type="text" name="value" placeholder="value">
	</div>
</div>
<div class="row">
	<div class="columns large-12">
		<input id="input-value-de" type="text" name="valueDE" placeholder="value">
	</div>
</div>