<div class="row">
	<div class="columns large-12">
		<h3>{{name}}</h3>
	</div>
</div>
<div id="static-labels-container"></div>
<div id="links-container"></div>
<div id="dropdowns-container"></div>
<div id="error-messages-container"></div>
<div class="row">
	<div class="columns large-12">
		<input id="btn-save" type="button" value="Save" />
	</div>
</div>