<div class="row">
	<div class="columns large-6">
		<input id="input-key" type="text" name="key" placeholder="Dropdown key">
	</div>
	<div class="columns large-6">
		<a href="javascript:void(0)" id="anchor-add-option">+</a>
		&nbsp;
		<a href="javascript:void(0)" id="anchor-remove-dropdown">X</a>
	</div>
</div>
<div id="option-region"></div>