<div class="row">
	<div class="columns large-6">
		<input id="input-value" type="text" name="value" placeholder="value">
	</div>
	<div class="columns large-6">
		 <a href="javascript:void(0)" id="anchor-remove">X</a>
	</div>
</div>
<div class="row">
	<div class="columns large-12">
		<input id="input-label-en" type="text" name="enLabel" placeholder="english lable">
	</div>
</div>
<div class="row">
	<div class="columns large-12">
		<input id="input-label-de" type="text" name="deLabel" placeholder="german label">
	</div>
</div>