.app-container {
	padding: 2%
}

.logo {
	display: block;
	height: 60px;
	width: 195px;
	background: url('/images/logo.png') center center no-repeat;
}

.headerbar {
	overflow: hidden;
	position: fixed;
}

.color-yellow {
	background-color: yellow;
}

.node-container {
	border: 1px solid #666;
	padding: 10px;
}

.sub-node-container {
	border: 1px dashed #666;
	padding: 10px;
}

.sub-sub-node-container {
	border: 1px dotted #666;
	padding: 10px;
}

.json-viewer {
	border: 2px dashed #666;
	margin: 20px;
	padding: 10px;
	font-family: "Arial";
	background-color: lightgreen;
}