<div class="row">
	<div class="columns large-12">
		<h3>{{name}}</h3>
	</div>
</div>
<div class="row">
	<div class="columns large-6">
		<h5>English</h5>
	</div>
	<div class="columns large-6">
		<h5>German</h5>
	</div>
</div>
<div class="row">
	<div class="columns large-6">
		<div id="en-container" class="json-viewer"></div>
	</div>
	<div class="columns large-6">
		<div id="de-container" class="json-viewer"></div>
	</div>
</div>