<div class="row">
	<div class="columns large-12">
		<label>Component Name</label> <input id="input-component-name"
			name="componentName">
	</div>
</div>
<div class="row">
	<div class="columns large-12">
		<label>Nodes</label>
		<div>
			<div>
				<input id="cb-static-labels" type="checkbox" name="isStaticLabels">
				<span>Static Labels</span>
			</div>
			<div>
				<input id="cb-links" type="checkbox" name="isLinks"> <span>Links</span>
			</div>
			<div>
				<input id="cb-dropdowns" type="checkbox" name="isDropdowns">
				<span>Dropdowns</span>
			</div>
			<div>
				<input id="cb-error-messages" type="checkbox" name="isErrorMessages">
				<span>Error Messages</span>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="columns large-12">
		<input id="btn-create" type="button" value="Create" />
	</div>
</div>