<div class="row">
	<div class="columns large-12">
		<label>Name</label> <input id="input-name" name="name">
	</div>
</div>
<br/>
<div class="row">
	<div class="columns large-12">
		<label>Nodes</label>
		<div>
			<div>
				<input id="cb-static-labels" type="checkbox" name="isStaticLabels">
				<label for="cb-static-labels">Static Labels</label>
			</div>
			<div>
				<input id="cb-links" type="checkbox" name="isLinks">
				<label for="cb-links">Links</label>
			</div>
			<div>
				<input id="cb-dropdowns" type="checkbox" name="isDropdowns">
				<label for="cb-dropdowns">Dropdowns</label>
			</div>
			<div>
				<input id="cb-error-messages" type="checkbox" name="isErrorMessages">
				<label for="cb-error-messages">Error Messages</label>
			</div>
		</div>
	</div>
</div>
<br/>
<div class="row">
	<div class="columns large-12">
		<input id="btn-create" type="button" value="Create" />
	</div>
</div>