<div class="row">
	<div class="columns large-12">
		<h4>Welcome</h4>
	</div>
</div>
<br />
<div class="row">
	<div class="columns large-12">
		<label>Edit existing content</label>
		<ul>
			<li><a href="javascript:void(0)" class="anchor-open" data-name="wealth">Wealth</a></li>
			<li><a href="javascript:void(0)" class="anchor-open" data-name="advice">Advice</a></li>
		</ul>
	</div>
</div>
<br />
<div class="row">
	<div class="columns large-12">
		<input id="btn-create" type="button" value="Create New" />
	</div>
</div>